.image-container-1 {
  position: relative; /* Necessary for absolute positioning */
  display: inline-block; /* To prevent the image container from taking up full width */
  margin-right: 40px;
  margin-top: 40px;
  overflow: hidden;
}

.image-container-1 img {
  width: 100%; /* Make the image responsive within the container */
  height: auto;
  transition: transform 0.3s ease; /* Add a smooth transition effect for the transform property */
}

.image-container-1:hover img {
  transform: translateY(-10px); /* Move the image 20 pixels to the right on hover */
}


.image-container-2 {
  position: relative; /* Necessary for absolute positioning */
  display: inline-block; /* To prevent the image container from taking up full width */
  margin-left: 40px;
  margin-top: 40px;
  overflow: hidden;
}

.image-container-2 img {
  width: 100%; /* Make the image responsive within the container */
  height: auto;
  transition: transform 0.3s ease; /* Add a smooth transition effect for the transform property */
}

.image-container-2:hover img {
  transform: translateY(-10px); /* Move the image 20 pixels to the right on hover */
}

.upper-part {
  display: flex;           /* Use flexbox for layout */
  justify-content: center; /* Center content horizontally */
  align-items: center;     /* Center content vertically */
}


.image-container-3 {
  position: relative; /* Necessary for absolute positioning */
  display: flex; /* To prevent the image container from taking up full width */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  width: 61.8%;
  overflow: hidden;
  margin-right: 40px;
  margin-left: 40px;
}

.image-container-3 img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease; /* Add a smooth transition effect for the transform property */
}

.image-container-3:hover img {
  transform: translateY(10px); /* Move the image 20 pixels to the right on hover */
}
